[Unit]
Description=Mount /firmware
Before=local-fs.target
After=dev-disk-by\x2dpartlabel-modem_a.device
BindsTo=dev-disk-by\x2dpartlabel-modem_a.device
DefaultDependencies=no
IgnoreOnIsolate=true

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/mount -o noexec,nodev,ro -t vfat /dev/disk/by-partlabel/modem_a /firmware
Nice=-20

[Install]
WantedBy=local-fs.target
