[Unit]
Description=SkiffOS core container
Requires=docker.service
Requires=skiff-init.service
After=skiff-init.service

[Service]
Type=simple
ExecStart=/opt/skiff/scripts/core-container.sh
Restart=on-failure
RestartSec=5
