[Unit]
Description=SkiffOS core setup
Requires=docker.service
Requires=skiff-init.service
After=skiff-init.service

[Service]
Type=oneshot
ExecStart=/opt/skiff/scripts/skiff-core.sh
RemainAfterExit=true
TimeoutStartSec=infinity
