containers:
  cfs:
    # contains NASA Core Flight System
    # based on the Ubuntu core configuration
    image: skiffos/skiff-core-nasa-cfs:latest
    # systemd
    entrypoint: ["/lib/systemd/systemd"]
    env: ["container=docker"]
    stopSignal: RTMIN+3
    tty: true
    disableInit: true
    workingDirectory: /opt/cfs
    entrypoint: ["/lib/systemd/systemd"]
    mounts:
      - /dev:/dev
      - /etc/resolv.conf:/etc/resolv.conf:ro
      - /etc/hostname:/etc/hostname:ro
      - /lib/modules:/lib/modules:ro
      - /mnt:/mnt
      - /run/udev:/run/udev
      - /mnt/persist/skiff/core/repos/log:/var/log
      - /mnt/persist/skiff/core/repos/tmp:/var/tmp
    privileged: true
    startAfterCreate: true
    restartPolicy: "always"
    capAdd:
      - ALL
    hostIPC: true
    hostUTS: true
    hostNetwork: true
    securityOpt:
      - seccomp=unconfined
    tmpFs:
      /run: rw,noexec,nosuid,size=65536k
      /run/lock: rw,noexec,nosuid,size=65536k
users:
  core:
    container: cfs
    containerUser: cfs
    containerShell:
      - "/bin/bash"
    auth:
      copyRootKeys: true
  cfs:
    container: cfs
    containerUser: cfs
    containerShell:
      - "/bin/bash"
    auth:
      copyRootKeys: true
images:
  skiffos/skiff-core-nasa-cfs:latest:
    pull:
      policy: ifnotexists
      registry: quay.io
    build:
      source: /opt/skiff/coreenv/skiff-core-nasa-cfs
