containers:
  core:
    # Image: optimized for Pinebook, with GentooLTO and KDE Apps.
    image: skiffos/skiff-core-gentoo-kde:pinebook-lto
    entrypoint: ["/lib/systemd/systemd"]
    # systemd: indicate this is a container
    env: ["container=docker"]
    stopSignal: RTMIN+3
    tty: true
    disableInit: true
    workingDirectory: /
    mounts:
      - /dev:/dev
      - /etc/resolv.conf:/etc/resolv.conf:ro
      - /etc/hostname:/etc/hostname:ro
      - /lib/modules:/lib/modules:ro
      - /mnt:/mnt
      - /run/udev:/run/udev
      - /mnt/persist/skiff/core/repos/binpkgs:/var/cache/binpkgs
      - /mnt/persist/skiff/core/repos/distfiles:/var/cache/distfiles
      - /mnt/persist/skiff/core/repos/docker:/var/lib/docker
      - /mnt/persist/skiff/core/repos/gentoo:/var/db/repos/gentoo
      - /mnt/persist/skiff/core/repos/linux:/usr/src
      - /mnt/persist/skiff/core/repos/log:/var/log
      - /mnt/persist/skiff/core/repos/tmp:/var/tmp
    privileged: true
    startAfterCreate: true
    restartPolicy: "always"
    capAdd:
      - ALL
    hostIPC: true
    hostUTS: true
    hostNetwork: true
    securityOpt:
      - seccomp=unconfined
    tmpFs:
      /run: rw,noexec,nosuid,size=65536k
      /run/lock: rw,noexec,nosuid,size=65536k
users:
  core:
    container: core
    containerUser: core
    createContainerUser: true
    containerShell:
      - "/bin/bash"
    auth:
      copyRootKeys: true
images:
  skiffos/skiff-core-gentoo-kde:pinebook-lto:
    pull:
      policy: ifnotexists
      # avoid docker hub rate limits
      registry: quay.io
