[Unit]
Description=Android Debug Bridge Daemon

[Service]
Restart=always
ExecStartPre=-/opt/skiff/scripts/init-adbd.sh
ExecStart=/usr/bin/adbd

[Install]
WantedBy=multi-user.target