[Unit]
Description=PinePhone EG25 Modem Startup & Shutdown
Documentation=https://xnux.eu/devices/feature/modem-pp.html
After=syslog.target
Before=ofono.service

[Service]
Type=simple
ExecStart=/usr/local/bin/eg25 start
ExecStop=/usr/local/bin/eg25 stop
StandardOutput=journal

[Install]
WantedBy=multi-user.target
