[Unit]
Description=SkiffOS resize persist partition
DefaultDependencies=no
Before=sysinit.target
Requires=dev-disk-by\x2dlabel-persist.device
After=dev-disk-by\x2dlabel-persist.device

[Service]
Type=oneshot
ExecStart=/opt/skiff/scripts/resize-persist.sh
RemainAfterExit=true
