[Unit]
Description=SkiffOS resize persist partition
After=skiff-init.service

[Service]
Type=oneshot
ExecStart=/opt/skiff/scripts/resize-persist.sh
RemainAfterExit=true
