[Unit]
Description=SkiffOS resize persist partition
DefaultDependencies=no
Before=sysinit.target

[Service]
Type=oneshot
ExecStart=/opt/skiff/scripts/resize-persist.sh
RemainAfterExit=true
