[Unit]
Description=SkiffOS early-init
After=persist-resize.service
Requires=persist-resize.service

After=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/opt/skiff/scripts/mount-all.sh
RemainAfterExit=true
