[Unit]
Description=SkiffOS early-init
Before=docker.service
Before=sshd.service

[Service]
Type=oneshot
ExecStart=/opt/skiff/scripts/mount-all.sh
RemainAfterExit=true
