[Unit]
Description=WPA supplicant daemon (interface- and wext driver-specific version)
Requires=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device
Before=network.target
Wants=network.target
Requires=skiff-init.service

[Service]
Type=simple
ExecStart=/usr/sbin/wpa_supplicant -c/etc/wpa_supplicant/wpa_supplicant-%I.conf -Dwext -i%I

[Install]
Alias=multi-user.target.wants/wpa_supplicant-nl80211@%i.service

