[Unit]
Description=Fix XHC1 sleep trigger on MacBook

[Service]
Type=oneshot
ExecStart=/bin/bash -c "printf 'ARPT\nXHC1\n' > /proc/acpi/wakeup"

[Install]
WantedBy=multi-user.target