[Unit]
Description=Initialize holoiso core user
DefaultDependencies=no
Before=basic.target

[Service]
Type=oneshot
ExecStart=/etc/skiffos/init-skiff-core-holoiso.sh
RemainAfterExit=true
StandardOutput=journal
TimeoutStartSec=120

[Install]
WantedBy=multi-user.target