<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Backend</key>
    <string>QEMU</string>
    <key>ConfigurationVersion</key>
    <integer>4</integer>
    <key>Display</key>
    <array>
      <dict>
        <key>DownscalingFilter</key>
        <string>Linear</string>
        <key>DynamicResolution</key>
        <true/>
        <key>Hardware</key>
        <string>virtio-gpu-pci</string>
        <key>NativeResolution</key>
        <false/>
        <key>UpscalingFilter</key>
        <string>Nearest</string>
      </dict>
    </array>
    <key>Drive</key>
    <array>
      <dict>
        <key>Identifier</key>
        <string>1a69bb72-4f95-4525-95b6-a228ceb8ee74</string>
        <key>ImageName</key>
        <string>Image</string>
        <key>ImageType</key>
        <string>LinuxKernel</string>
        <key>Interface</key>
        <string>None</string>
        <key>InterfaceVersion</key>
        <integer>1</integer>
        <key>ReadOnly</key>
        <false/>
      </dict>
      <dict>
        <key>Identifier</key>
        <string>de859e3e-ea2d-4c5b-beb1-0693160e884e</string>
        <key>ImageName</key>
        <string>rootfs.cpio.lz4</string>
        <key>ImageType</key>
        <string>LinuxInitrd</string>
        <key>Interface</key>
        <string>None</string>
        <key>InterfaceVersion</key>
        <integer>1</integer>
        <key>ReadOnly</key>
        <false/>
      </dict>
      <dict>
        <key>Identifier</key>
        <string>81204ce1-bebe-458a-be45-f19b6eebe4c5</string>
        <key>ImageName</key>
        <string>persist.qcow2</string>
        <key>ImageType</key>
        <string>Disk</string>
        <key>Interface</key>
        <string>VirtIO</string>
        <key>InterfaceVersion</key>
        <integer>1</integer>
        <key>ReadOnly</key>
        <false/>
      </dict>
    </array>
    <key>Information</key>
    <dict>
      <key>Icon</key>
      <string>skiff-icon.png</string>
      <key>IconCustom</key>
      <true/>
      <key>Name</key>
      <string>SkiffOS</string>
      <key>UUID</key>
      <string>20c05852-ae8c-49e8-bc99-7f7db953aed0</string>
    </dict>
    <key>Input</key>
    <dict>
      <key>MaximumUsbShare</key>
      <integer>3</integer>
      <key>UsbBusSupport</key>
      <string>3.0</string>
      <key>UsbSharing</key>
      <false/>
    </dict>
    <key>Network</key>
    <array>
      <dict>
        <key>Hardware</key>
        <string>virtio-net-pci</string>
        <key>IsolateFromHost</key>
        <false/>
        <key>MacAddress</key>
        <string>REPLACEME_MAC_ADDRESS</string>
        <key>Mode</key>
        <string>Shared</string>
        <key>PortForward</key>
        <array/>
      </dict>
    </array>
    <key>QEMU</key>
    <dict>
      <key>AdditionalArguments</key>
      <array>
        <string>-append</string>
        <string>"root=/dev/ram0 ro net.ifnames=0"</string>
      </array>
      <key>BalloonDevice</key>
      <false/>
      <key>DebugLog</key>
      <false/>
      <key>Hypervisor</key>
      <true/>
      <key>PS2Controller</key>
      <false/>
      <key>RNGDevice</key>
      <true/>
      <key>RTCLocalTime</key>
      <false/>
      <key>TPMDevice</key>
      <false/>
      <key>TSO</key>
      <false/>
      <key>UEFIBoot</key>
      <true/>
    </dict>
    <key>Serial</key>
    <array>
      <dict>
        <key>Mode</key>
        <string>Terminal</string>
        <key>Target</key>
        <string>Auto</string>
        <key>Terminal</key>
        <dict>
          <key>BackgroundColor</key>
          <string>#000000</string>
          <key>CursorBlink</key>
          <true/>
          <key>Font</key>
          <string>Menlo</string>
          <key>FontSize</key>
          <integer>12</integer>
          <key>ForegroundColor</key>
          <string>#ffffff</string>
        </dict>
      </dict>
    </array>
    <key>Sharing</key>
    <dict>
      <key>ClipboardSharing</key>
      <true/>
      <key>DirectoryShareMode</key>
      <string>VirtFS</string>
      <key>DirectoryShareReadOnly</key>
      <false/>
    </dict>
    <key>Sound</key>
    <array>
      <dict>
        <key>Hardware</key>
        <string>intel-hda</string>
      </dict>
    </array>
    <key>System</key>
    <dict>
      <key>Architecture</key>
      <string>aarch64</string>
      <key>CPU</key>
      <string>default</string>
      <key>CPUCount</key>
      <integer>0</integer>
      <key>CPUFlagsAdd</key>
      <array/>
      <key>CPUFlagsRemove</key>
      <array/>
      <key>ForceMulticore</key>
      <false/>
      <key>JITCacheSize</key>
      <integer>0</integer>
      <key>MemorySize</key>
      <integer>4096</integer>
      <key>Target</key>
      <string>virt</string>
    </dict>
  </dict>
</plist>

