containers:
  core:
    image: skiffos/skiff-core-nixos:latest
    entrypoint: ["/init"]
    # systemd: indicate this is a container
    env: ["container=docker"]
    stopSignal: RTMIN+3
    tty: false
    disableInit: true
    workingDirectory: /
    mounts:
      - /dev:/dev
      - /etc/hostname:/etc/hostname:ro
      - /etc/resolv.conf:/etc/resolv.conf:ro
      - /lib/modules:/lib/modules:ro
      - /mnt:/mnt
      - /run/udev:/run/udev
      - /mnt/persist/skiff/core/repos/lib:/var/lib
      - /mnt/persist/skiff/core/repos/docker:/var/lib/docker
      - /mnt/persist/skiff/core/repos/log:/var/log
      - /mnt/persist/skiff/core/repos/tmp:/var/tmp
    privileged: true
    startAfterCreate: true
    restartPolicy: "always"
    capAdd:
      - ALL
    hostIPC: true
    hostUTS: true
    hostNetwork: true
    securityOpt:
      - seccomp=unconfined
users:
  core:
    container: core
    containerUser: core
    containerShell:
      - "/run/current-system/sw/bin/bash"
    auth:
      copyRootKeys: true
images:
  skiffos/skiff-core-nixos:latest:
    pull:
      policy: ifnotexists
      # avoid docker hub rate limits
      registry: quay.io
    build:
      source: /opt/skiff/coreenv/skiff-core-nixos
